*{
    font-family: arial , helvetical , sans-serif;
    font-size: 16;
}
body{
    background-color:rgb(204, 157, 248) ;
}
main{
    background-color:white ;
    width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 3ppx 3px 5px rgba(
         rgba(11, 224, 11, 0.26));
}
img.lado{
    float: right;
    text-decoration: none;
}

#trocar{
    width: 50 px;
    background: red;
    color: black;
} 