*{
    font-family: arial , helvetical , sans-serif;
    font-size: 16;
}
body{
    background-color:rgb(204, 157, 248) ;
}
main{
    width: 300px;
    background-color:white ;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(
         rgba(11, 224, 11, 0.26));
}
img.lado{
    float: right;
    text-decoration: none;
}
img.foto{
    width: 100px;
    height: 100px;
}

#trocar{
    width: 50 px;
    background: red;
    color: black;
} 